build
target
node_modules
.idea
.mvn
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/resources/static/.DS_Store
src/main/script/.DS_Store
.cache
src/main/resources/static/built/bundle.js
src/main/resources/static/built/index.js
src/main/resources/static/built/index.css
src/main/resources/static/app.js
src/main/resources/static/index2.html
src/main/resources/static/main.css