build
target
node_modules
.idea
.vscode
.mvn
gradle
gradlew
gradlew.bat
build.gradle
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/resources/static/.DS_Store
src/main/script/.DS_Store
.cache
yarn-error.log
docker/*.jar
yarn.lock
package-lock.json
