.container-normal {
    position: fixed;
    top: 64px;
    left: 260px;
    right: 0;
    flex-direction: column;
}

.container-expand {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    flex-direction: column;
}

.clicked {
    color: cyan;
}

.failed {
    color: red;
}

.extra-info {
    display: flex;
    flex-direction: row;
    margin: 12px;
}

.casts-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.table-content {
    text-align: left;
}

.toolbar-title {
    margin-left: 20px;
    color: grey;
}